obj/
derived_src/
*.bundle
*.framework
Documentation/Reference
Documentation/ANNOUNCE
Documentation/DBusKit
Documentation/INSTALL
Documentation/README
Documentation/*.aux
Documentation/*.cp
Documentation/*.cps
Documentation/*.info
Documentation/*.log
Documentation/*.pdf
Documentation/*.toc
config.log
config.make
config.status
libtool
Source/config.h
autom4te.cache
